<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1>update data Register</h1>
    <form action="" method="post">
        <input type="text" name="name" value="<%= update[0].name  %>" placeholder="Enter Name" required><br>
        <input type="text" name="address" value="<%= update[0].address  %>" placeholder="Enter Address" required><br>
        <input type="number" name="Phone_NO"  value="<%= update[0].Phone_NO  %>" placeholder="Enter Phone Number" required><br>
        <input type="submit" value="Submit">
    </form>
</body>

</html>