body {
    font-family: Arial, sans-serif;
    margin: 20px;
    padding: 20px;
    background-color: #f4f4f4;
    display: grid;
    justify-content: center;
    background-color: #333;
    height: 50vh;
}

h1 {
    color: #333;
    text-align: center;
}

form {
    background: #fff;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    width: 450px;
    padding: 20px;
    border-radius: 10px;
}

input[type="text"],
input[type="number"],
input[type="submit"] {
    width: 50%;
    padding: 10px;
    margin: 15px 100px;
    border: 1px solid #ccc;
    border-radius: 5px;
    text-align: center;
}

input[type="submit"] {
    background-color: #28a745;
    color: white;
    border: none;
    cursor: pointer;
}

input[type="submit"]:hover {
    background-color: #218838;
}
